* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.con {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #afa3a3;
}

.sideleft, .chatbody {
    display: flex;
    flex-direction: column;
}

.sideleft {
    width: 30%;
    background-color: red;
    padding: 5%;
}

.chatbody {
    width: 70%;
    background-color: rgb(181, 199, 20);
    padding: 5%;
}

.headerleft, .headerbody {
    background-color: blue;
    flex: 0 0 5%; /* Fixed height to 5% */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentleft, .contentbody {
    flex-grow: 1;
    background-color: lightgray;
}

/* firs version


.con {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100vh;
    background-color: #afa3a3;
}

.sideleft {
    width: 30%;
    height: 90vh;
    background-color: red;
}


.chatbody {
    width: 70%;
    height: 90vh;
    background-color: rgb(181, 199, 20);
}

.headerleft {
    background-color: blue;
    height: 5%;
    padding: 5%;
}

.headerbody {
    background-color: blue;
    height: 5%;
    padding: 5%;
} */